@import "compass/css3";

@mixin center-v () {
  position: fixed;
  top: 0;
  bottom: 0;
  margin: auto;
}

body {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

.item {
  width: 45%;
  height: 300px;
  margin: 50px auto;
  padding-top: 75px;
  background: white;
  text-align: center;
  color: white;
  font-size: 3em;

  span {
    display: block;
    font-size: 1rem;
  }

  &--hello-right {
    @include center-v;
    right: 20px;
    background: #FF7073;
  }

  &--hello-left {
    @include center-v;
    left: 20px;
    background: #ffadaf;
  }

  &--how-right {
    @include center-v;
    right: 20px;
    background: #32936f;
  }

  &--how-left {
    @include center-v;
    left: 20px;
    background: #95dbc1;
  }

  &--fine-right {
    @include center-v;
    right: 20px;
    background: #AB5CFA;
  }

  &--fine-left {
    @include center-v;
    left: 20px;
    background: #d3b0fd;
  }

  &--thanks-right {
    @include center-v;
    right: 20px;
    background: #00C1FF;
  }

  &--thanks-left {
    @include center-v;
    left: 20px;
    background: #99e6ff;
  }

  &--name-right {
    @include center-v;
    right: 20px;
    background: #E63946;
  }

  &--name-left {
    @include center-v;
    left: 20px;
    background: #ef8089;
  }

  &--bye-right {
    @include center-v;
    right: 20px;
    background: #FF9B00;
  }

  &--bye-left {
    @include center-v;
    left: 20px;
    background: #ffbe5c;
  }
}

.scroll-prompt {
  position: absolute;
  bottom: 25%;
  left: 50%;
  z-index: 100;
  @include transition(1s opacity ease-out);
}

.scroll-prompt .scroll-prompt-shape {
	position: relative;
	@include animation(slidedown 2.25s infinite);
}

.scroll-prompt .scroll-prompt-shape:before,
.scroll-prompt .scroll-prompt-shape:after {
	content: "";
	display: block;
	position: absolute;
	width: 3em;
	height: .5em;
	top: 0;
	left: 0;
	background: #fff;
	@include border-radius(0 .25em .25em 0);
	@include transform-origin(bottom, left);

}

.scroll-prompt .scroll-prompt-shape:before {
	@include transform(scaleX(-1) rotate(-45deg));
}
.scroll-prompt .scroll-prompt-shape:after {
	@include transform(rotate(-45deg));
}



@include keyframes(slidedown) {
    0% {
        opacity: 0;
    }
    75% {
        opacity: 1;
		@include transform(translate(0, 80px));
    }
    100% {
        opacity: 0;
		@include transform(translate(0, 80px));
    }
}
