@mixin center-v () {
  position: fixed;
  top: 0;
  bottom: 0;
  margin: auto;
}

body {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

.item {
  width: 45%;
  height: 300px;
  margin: 50px auto;
  padding-top: 75px;
  background: white;
  text-align: center;
  color: white;
  font-size: 3em;

  span {
    display: block;
    font-size: 1rem;
  }

  &--hello-right {
    @include center-v;
    right: 20px;
    background: #FF7073;
  }

  &--hello-left {
    @include center-v;
    left: 20px;
    background: #ffadaf;
  }

  &--how-right {
    @include center-v;
    right: 20px;
    background: #32936f;
  }

  &--how-left {
    @include center-v;
    left: 20px;
    background: #95dbc1;
  }

  &--fine-right {
    @include center-v;
    right: 20px;
    background: #AB5CFA;
  }

  &--fine-left {
    @include center-v;
    left: 20px;
    background: #d3b0fd;
  }

  &--thanks-right {
    @include center-v;
    right: 20px;
    background: #00C1FF;
  }

  &--thanks-left {
    @include center-v;
    left: 20px;
    background: #99e6ff;
  }

  &--name-right {
    @include center-v;
    right: 20px;
    background: #E63946;
  }

  &--name-left {
    @include center-v;
    left: 20px;
    background: #ef8089;
  }

  &--bye-right {
    @include center-v;
    right: 20px;
    background: #FF9B00;
  }

  &--bye-left {
    @include center-v;
    left: 20px;
    background: #ffbe5c;
  }
}
