* {
  font-family: 'Montserrat', sans-serif;
}

|* {
  margin: 15;
  padding: 15;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 2em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.poppy {
  margin: auto;
  /* background: rgb(165, 28, 28); */
  width: 35%;
  /* height: 35%; */
  padding: 8px;
  /* box-shadow: 1px 1px 3px grey; */
}

#popuptext {
  padding: 10px;

}

#popuptext h2 {
  font-size: 15px;
  font-weight: 800

}

#popupHeader {
  font-size: 30px
}

#popuptext i {
  font-size: 14px

}

#landAck {
  color: #32936f;
  font-size: 15px
}

#map-controls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.startPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.startPage img {
  max-width: 100%;
  height: auto;
}

.button {
  background-color: rgb(100, 205, 237);
  color: black;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#single-language {
  margin: 75px

}

#singleLangName {
  font-weight: 700;
  font-size: 80px
}

#singleLangSubhead {
  font-size: 40px
}

#single-language__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#single-language__vocab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#language-description {
  margin: 25;
  padding: 25;
}

.counterContainer {
  background-color: pink;
  justify-content: center;

}

.speakersAnimate {
  font-size: 50px;

}


   tr:nth-child(odd) {
    background-color: #32936f1d
    }


#mapContainer {
  justify-content: center;
  display: flex

}

/* #view-default-view {
  position: absolute; left: 50px; top: 50px;
} */
