body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 2em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.poppy {
  margin: auto;
  background: rgb(255, 255, 255);
  width: 50%;
  padding: 5px;
}

#popuptext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 85%;
}

#map-controls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
