* {
  margin: 15;
  padding: 15;
  box-sizing: border-box;
  /* background: rgb(22, 12, 12); */
  border-color: rgb(22, 12, 12);
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 2em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.poppy {
  margin: auto;
  /* background: rgb(255, 255, 255); */
  width: 35%;
  padding: 1px;
}

/* #popuptext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 85%;
} */

#map-controls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.startPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(22, 12, 12); */
}

.startPage img {
  max-width: 100%;
  height: auto;
}

.button {
  background-color: rgb(100, 205, 237);
  color: black;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
